@use 'variaveis';
@use '../config/reset';

body {
    background-color: variaveis.$corPrincipal;

    header {
        background-color: variaveis.$corDoHeader;
        padding: 16px;
    }

    .container {
        margin: 0 auto;
        max-width: 1023px;
        width: 100%;
        padding: 20px;

        h1 {
            padding-bottom: 20px;
            color: variaveis.$corDoTexto;
        }

        nav ul li {
            list-style: none;

            a {
                text-decoration: none;
                color: variaveis.$corDoTexto;
            }
        }
    }

    main {
        display: grid;
    }

    .artigo-img {
    
        img {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 48%);
            gap: 4%;
            padding: 30px;
        }
    }

    .artigo h2 {
        padding-top: 20px;
    }
}

@media screen and  (max-width: 1023){
    .container {
        max-width: 1023px;
        width: 100%;
    }

    .artigo-img{
        grid-template-columns: repeat(3, 33%);
        gap: 1%;
        padding: 50px;
        
        img {
            width: 100%;

        }
    }
}