@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import 'mixin.less';
@import 'mapas.less';

@breakPointMobile: ~"(max-width: 767px)";
@breakPointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
}

body {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    height: 100%;
    background-color: #colors[corDeFundo] ;
}

.container {
    padding: 50px;

    @media @breakPointTablet{
        margin-top: 150px;
        
    }
    
    @media @breakPointMobile {

        #mostrador > p {
            padding: 10px 50px;
        }
    }


    h1{
        font-size: 5em;
        text-align: center;
        color: #colors[corDoTabuleiro];
    }
    
    
    #mostrador {
        margin: 50px;
        background-color: #colors[corDoTexto];
        
        p {
            .displayAlignJustify();
            color: #colors[corDoTabuleiro];
            font-size: 1.5em;

            img {
                width: 50px;
            }
        }
        
    }
    img {
        width: 80px;
    }


    .tabuleiro {
        width: 252px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);

        &-espaco {
            width: 80px;
            height: 80px;
            border: 2px solid #colors[corDoTabuleiro];
            float:left;
        }
        
    }


    #msg-vencedor {
        padding: 30px;
        .displayAlignJustify();
        text-align: center;
        font-size: 3em;
        color:  #colors[corDoTexto];
    }


}

