@use 'config/cores';
@use 'config/reset';
@use 'config/variaveis';
@use 'pagina/cabecalho';
@use 'pagina/menu';
@use 'pagina/produtos';


@media screen and (max-width: variaveis.$tablet){
    .container {
        max-width: 80%;

        .produtos {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}

@media screen and (max-width: variaveis.$mobile){
    .container {
        max-width: 85%;

        .produtos {
            display: grid;
            grid-template-columns: repeat(1,100%);
        }
    }
}