@use 'config/cores';
@use 'config/reset';
@use 'pagina/cabecalho';
@use 'pagina/menu';
@use 'pagina/produtos';


@media screen and (max-width: 1024px){
    .container {
        max-width: 80%;

        .produtos {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}

@media screen and (max-width: 767px){
    .produtos {
        display: block;

        .produto-item {
            margin-bottom: 32px;
        }
    }
}