@use '../config/cores';
@use '../config/reset';
@use 'cabecalho';
@use 'menu';
@use 'produtos';
@use 'variaveis';
@import 'mixin';



@media screen and (max-width: variaveis.$mobile){

    .container {
        max-width: 90%;
        
        img {
            width: 100%;
        }

        .produto-item{
            grid-column: 1/-1;
        }

    }
}

@media screen and (max-width: variaveis.$tablet){
    .container {
        max-width: 80%;

        .produtos {
            display: grid;
            grid-template-columns: repeat(2, 48.66%);
            column-gap: 3%;
        }
    }
}