@use '../config/cores';
@import 'mixin';

.menu {
    @include displayFlex();
    
    li {
        font-weight: bold;
        margin-left: 24px;
        padding-top: 20px;
        
    }

    li a {
        color: cores.$corDoTexto;
        text-decoration: none;
        
        
    }
}

