@use '../config/cores.scss';
@import 'mixin';

.menu {
    @include displayFlex();
    
    li {
        font-weight: bold;
        margin-left: 24px;
        
    }

    li a {
        color: cores.$corDoTexto;
        text-decoration: none;
    }
}

