@use '../config/cores';


.container {
    padding: 56px 0;
    
    .produtos {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 2%;
        row-gap: 4%;
        width: 100%;


        h3 {
            padding-top: 10px;
        }
        p {
            padding-top: 10px;
        }
        
        .produto-item {
            list-style: none;
        
            img {
                width: 100%;
                border-radius: 16px;
            }
        }
        .produto-button {
            display: block;
            background-color: cores.$corFundoBtn;
            color: cores.$corDoTexto;
            text-align: center;
            padding: 8px 0;
            margin-top: 8px;
            text-decoration: none;
            border-radius: 8px;
            font-weight: bold;
        
            &:hover {
                background-color: cores.$corFundoBtnHover;
            }
        }
        

    }
    
}
